{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Excluir Servico</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    <p>Tem certeza que deseja excluir o servico
      <strong>{{ servico.nome }}</strong> do grupo <strong>{{ servico.grupo }}</strong>?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-danger">Confirmar</button>
  </div>

</form>