{% extends 'base.html' %}
{% block content %}

  <!-- Modal 1 with id="create-marca"-->
  <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog mt-5">
      <div class="modal-content">
      </div>
    </div>
  </div>

  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <h2>ESPECIALIDADES</h2>

  <!-- Create marca button -->
  <button id="create-especialidade" class="btn btn-primary" type="button" name="button">
    <span class="fa fa-plus mr-2"></span>Nova Especialidade
  </button>
  <br/>

  <table id="especialidade-table" class="table table-striped">
    <thead>
      <tr>
        <th width="85%">Nome</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for especialidade in object_list %}
      <tr>
        <td>{{ especialidade.nome }}</td>
        <td>
          <!-- Read marca buttons -->
          <button type="button" class="read-especialidade bs-modal btn btn-sm btn-primary" data-form-url="{% url 'core:read_especialidade' especialidade.pk %}">
            <span class="fa fa-eye"></span>
          </button>
        </td>
        <td>
          <!-- Update marca buttons -->
          <button type="button" class="update-especialidade bs-modal btn btn-sm btn-primary" data-form-url="{% url 'core:update_especialidade' especialidade.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
        </td>
        <td>
          <!-- Delete marca buttons -->
          <button type="button" class="delete-especialidade bs-modal btn btn-sm btn-danger" data-form-url="{% url 'core:delete_especialidade' especialidade.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(function () {

    // Read especialidade buttons
    $(".read-especialidade").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });

    // Update especialidade buttons
    $(".update-especialidade").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });

    // Delete especialidade buttons - formURL is retrieved from the data of the element
    $(".delete-especialidade").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
    });

    // Create especialidade button opens form in modal with id="create-modal"
    $("#create-especialidade").modalForm({
        formURL: "{% url 'core:create_especialidade' %}",
        modalID: "#create-modal"
    });

  });
</script>
{% endblock extrascripts %}