{% extends 'base.html' %}
{% block content %}

  <!-- Modal 1 with id="create-marca"-->
  <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog mt-5">
      <div class="modal-content">
      </div>
    </div>
  </div>

  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <h2>GRUPOS DE PRODUTO</h2>

  <!-- Create marca button -->
  <button id="create-grupo-produto" class="btn btn-primary" type="button" name="button">
    <span class="fa fa-plus mr-2"></span>Novo Grupo
  </button>
  <br/>

  <table id="grupo-produto-table" class="table table-striped">
    <thead>
      <tr>
        <th width="85%">Grupo</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for grupo_produto in object_list %}
      <tr>
        <td>{{ grupo_produto.nome }}</td>
        <td>
          <!-- Read marca buttons -->
          <button type="button" class="read-grupo-produto bs-modal btn btn-sm btn-primary" data-form-url="{% url 'core:read_grupo_produto' grupo_produto.pk %}">
            <span class="fa fa-eye"></span>
          </button>
        </td>
        <td>
          <!-- Update marca buttons -->
          <button type="button" class="update-grupo-produto bs-modal btn btn-sm btn-primary" data-form-url="{% url 'core:update_grupo_produto' grupo_produto.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
        </td>
        <td>
          <!-- Delete marca buttons -->
          <button type="button" class="delete-grupo-produto bs-modal btn btn-sm btn-danger" data-form-url="{% url 'core:delete_grupo_produto' grupo_produto.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(function () {

    // Read grupo-produto buttons
    $(".read-grupo-produto").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });

    // Update grupo-produto buttons
    $(".update-grupo-produto").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });

    // Delete grupo-produto buttons - formURL is retrieved from the data of the element
    $(".delete-grupo-produto").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
    });

    // Create grupo-produto button opens form in modal with id="create-modal"
    $("#create-grupo-produto").modalForm({
        formURL: "{% url 'core:create_grupo_produto' %}",
        modalID: "#create-modal"
    });

  });
</script>
{% endblock extrascripts %}