{% extends 'base.html' %}

{% block content %}

  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <h2>P R O D U T O S</h2>

  <!-- Create marca button -->
  <button id="create-produto" class="btn btn-primary" type="button" name="button">
    <span class="fa fa-plus mr-2"></span>Novo Produto
  </button>
  <br/>

  <table id="produto-table" class="table table-striped">
    <thead>
      <tr>
        <th width="20%">Grupo</th>
        <th width="50%">Produto</th>
        <th width="15%">Unidade</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for produto in object_list %}
      <tr>
        <td>{{ produto.grupo }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.unidade }}</td>
        <td>
          <button type="button" id="read-produto" class="read-produto bs-modal btn btn-sm btn-primary" data-url="{% url 'core:read_produto' produto.pk %}">
            <span class="fa fa-eye"></span>
          </button>
        </td>
        <td>
          <button type="button" id="update-produto" class="update-produto bs-modal btn btn-sm btn-primary" data-url="{% url 'core:update_produto' produto.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
        </td>
        <td>
          <button type="button" id="delete-produto" class="delete-produto bs-modal btn btn-sm btn-danger" data-url="{% url 'core:delete_produto' produto.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', (e) => {
    modalForm(document.getElementById('create-produto'), {
      formURL: "{% url 'core:create_produto' %}"
    })
  });

  document.addEventListener('DOMContentLoaded', (e) => {
    var readButtons   = document.getElementsByClassName("read-produto");
    var updateButtons = document.getElementsByClassName("update-produto");
    var deleteButtons = document.getElementsByClassName("delete-produto");
    for (var index=0; index < readButtons.length; index++) {
      modalForm(readButtons[index], {
        formURL: readButtons[index]["dataset"]["url"],
        isDeleteForm: false
      });
      modalForm(updateButtons[index], {
        formURL: updateButtons[index]["dataset"]["url"],
        isDeleteForm: false
      });
      modalForm(deleteButtons[index], {
        formURL: deleteButtons[index]["dataset"]["url"],
        isDeleteForm: true
      });
    }
  });

</script>
{% endblock extrascripts %}