{% extends 'base.html' %}
{% block content %}

  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <h2>S E R V I C O S</h2>

  <button id="create-servico" class="btn btn-primary" type="button" name="button">
    <span class="fa fa-plus mr-2"></span>Novo Servico
  </button>
  <br/>

  <table id="servico-table" class="table table-striped">
    <thead>
      <tr>
        <th width="30%">Grupo</th>
        <th width="55%">Servico</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for servico in object_list %}
      <tr>
        <td>{{ servico.grupo }}</td>
        <td>{{ servico.nome }}</td>
        <td>
          <button type="button" id="read-servico" class="read-servico bs-modal btn btn-sm btn-primary" data-url="{% url 'core:read_servico' servico.pk %}">
            <span class="fa fa-eye"></span>
          </button>
        </td>
        <td>
          <button type="button" id="update-servico" class="update-servico bs-modal btn btn-sm btn-primary" data-url="{% url 'core:update_servico' servico.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
        </td>
        <td>
          <button type="button" id="delete-servico" class="delete-servico bs-modal btn btn-sm btn-danger" data-url="{% url 'core:delete_servico' servico.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', (e) => {
    modalForm(document.getElementById('create-servico'), {
      formURL: "{% url 'core:create_servico' %}"
    })
  });

  document.addEventListener('DOMContentLoaded', (e) => {
    var readButtons   = document.getElementsByClassName("read-servico");
    var updateButtons = document.getElementsByClassName("update-servico");
    var deleteButtons = document.getElementsByClassName("delete-servico");
    for (var index=0; index < readButtons.length; index++) {
      modalForm(readButtons[index], {
        formURL: readButtons[index]["dataset"]["url"],
        isDeleteForm: false
      });
      modalForm(updateButtons[index], {
        formURL: updateButtons[index]["dataset"]["url"],
        isDeleteForm: false
      });
      modalForm(deleteButtons[index], {
        formURL: deleteButtons[index]["dataset"]["url"],
        isDeleteForm: true
      });
    }
  });

</script>
{% endblock extrascripts %}