{% extends 'base.html' %}
{% block content %}

  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <h2>C L I E N T E S</h2>

  <button id="create-cliente" class="btn btn-primary" type="button" name="button">
    <span class="fa fa-plus mr-2"></span>Novo Cliente
  </button>
  <br/>

  <table id="clientes-table" class="table table-striped">
    <thead>
      <tr>
        <th width="55%">Nome</th>
        <th width="30%">CPF</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in object_list %}
      <tr>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.cpf }}</td>
        <td>
          <button type="button" id="read-cliente" class="read-cliente bs-modal btn btn-sm btn-primary" data-url="{% url 'veiculos:read_cliente' cliente.pk %}">
            <span class="fa fa-eye"></span>
          </button>
        </td>
        <td>
          <button type="button" id="update-cliente" class="update-cliente bs-modal btn btn-sm btn-primary" data-url="{% url 'veiculos:update_cliente' cliente.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
        </td>
        <td>
          <button type="button" id="delete-cliente" class="delete-cliente bs-modal btn btn-sm btn-danger" data-url="{% url 'veiculos:delete_cliente' cliente.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', (e) => {
    modalForm(document.getElementById('create-cliente'), {
      formURL: "{% url 'veiculos:create_cliente' %}"
    })
  });

  document.addEventListener('DOMContentLoaded', (e) => {
    var readButtons   = document.getElementsByClassName("read-cliente");
    var updateButtons = document.getElementsByClassName("update-cliente");
    var deleteButtons = document.getElementsByClassName("delete-cliente");
    for (var index=0; index < readButtons.length; index++) {
      modalForm(readButtons[index], {
        formURL: readButtons[index]["dataset"]["url"],
        isDeleteForm: false
      });
      modalForm(updateButtons[index], {
        formURL: updateButtons[index]["dataset"]["url"],
        isDeleteForm: false
      });
      modalForm(deleteButtons[index], {
        formURL: deleteButtons[index]["dataset"]["url"],
        isDeleteForm: true
      });
    }
  });

</script>
{% endblock extrascripts %}
