{% extends 'base.html' %}
{% block content %}

  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <h2>M A R C A S</h2>

  <button id="create-marca" class="btn btn-primary" type="button" name="button">
    <span class="fa fa-plus mr-2"></span>Nova Marca
  </button>
  <br/>

  <table id="marcas-table" class="table table-striped">
    <thead>
      <tr>
        <th width="85%">Marca</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for marca in object_list %}
      <tr>
        <td>{{ marca.nome }}</td>
        <td>
          <button type="button" id="read-marca" class="read-marca bs-modal btn btn-sm btn-primary" data-url="{% url 'veiculos:read_marca' marca.pk %}">
            <span class="fa fa-eye"></span>
          </button>
        </td>
        <td>
          <button type="button" id="update-marca" class="update-marca bs-modal btn btn-sm btn-primary" data-url="{% url 'veiculos:update_marca' marca.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
        </td>
        <td>
          <button type="button" id="delete-marca" class="delete-marca bs-modal btn btn-sm btn-danger" data-url="{% url 'veiculos:delete_marca' marca.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', (e) => {
    modalForm(document.getElementById('create-marca'), {
      formURL: "{% url 'veiculos:create_marca' %}"
    })
  });

  document.addEventListener('DOMContentLoaded', (e) => {
    var readButtons   = document.getElementsByClassName("read-marca");
    var updateButtons = document.getElementsByClassName("update-marca");
    var deleteButtons = document.getElementsByClassName("delete-marca");
    for (var index=0; index < readButtons.length; index++) {
      modalForm(readButtons[index], {
        formURL: readButtons[index]["dataset"]["url"],
        isDeleteForm: false
      });
      modalForm(updateButtons[index], {
        formURL: updateButtons[index]["dataset"]["url"],
        isDeleteForm: false
      });
      modalForm(deleteButtons[index], {
        formURL: deleteButtons[index]["dataset"]["url"],
        isDeleteForm: true
      });
    }
  });

</script>
{% endblock extrascripts %}
