{% extends 'base.html' %}
{% block content %}

  <!-- Modal 1 with id="create-marca"-->
  <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog mt-5">
      <div class="modal-content">
      </div>
    </div>
  </div>

  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <h2>M A R C A S</h2>

  <!-- Create marca button -->
  <button id="create-marca" class="btn btn-primary" type="button" name="button">
    <span class="fa fa-plus mr-2"></span>Nova Marca
  </button>
  <br/>

  <table id="marcas-table" class="table table-striped">
    <thead>
      <tr>
        <th width="85%">Marca</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for marca in object_list %}
      <tr>
        <td>{{ marca.nome }}</td>
        <td>
          <!-- Read marca buttons -->
          <button type="button" class="read-marca bs-modal btn btn-sm btn-primary" data-form-url="{% url 'core:read_marca' marca.pk %}">
            <span class="fa fa-eye"></span>
          </button>
        </td>
        <td>
          <!-- Update marca buttons -->
          <button type="button" class="update-marca bs-modal btn btn-sm btn-primary" data-form-url="{% url 'core:update_marca' marca.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
        </td>
        <td>
          <!-- Delete marca buttons -->
          <button type="button" class="delete-marca bs-modal btn btn-sm btn-danger" data-form-url="{% url 'core:delete_marca' marca.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  $(function () {

    // Read marca buttons
    $(".read-marca").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });

    // Update marca buttons
    $(".update-marca").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });

    // Delete marca buttons - formURL is retrieved from the data of the element
    $(".delete-marca").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
    });

    // Create marca button opens form in modal with id="create-modal"
    $("#create-marca").modalForm({
        formURL: "{% url 'core:create_marca' %}",
        modalID: "#create-modal"
    });

  });
</script>
{% endblock extrascripts %}
