{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Visualizar Veiculo</h3>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <div class="">
    <table class="table table-borderless">
      <tr><td class="col-sm-2 col-form-label col-form-label-sm">Cliente: </td><td class="form-control form-control-sm">&nbsp;{{ veiculo.cliente }}</td></tr>
      <tr><td class="col-sm-2 col-form-label col-form-label-sm">Marca:   </td><td class="form-control form-control-sm">&nbsp;{{ veiculo.marca }}</td></tr>
      <tr><td class="col-sm-2 col-form-label col-form-label-sm">Modelo:  </td><td class="form-control form-control-sm">&nbsp;{{ veiculo.modelo }}</td></tr>
      <tr><td class="col-sm-2 col-form-label col-form-label-sm">Placa:   </td><td class="form-control form-control-sm">&nbsp;{{ veiculo.placa }}</td></tr>
      <tr><td class="col-sm-2 col-form-label col-form-label-sm">Chassis: </td><td class="form-control form-control-sm">&nbsp;{{ veiculo.chassis }}</td></tr>
      <tr><td class="col-sm-2 col-form-label col-form-label-sm">Ano Fab.:</td><td class="form-control form-control-sm">&nbsp;{{ veiculo.ano_fabricacao }}</td></tr>
      <tr><td class="col-sm-2 col-form-label col-form-label-sm">Ano Mod.:</td><td class="form-control form-control-sm">&nbsp;{{ veiculo.ano_modelo }}</td></tr>
      <tr><td class="col-sm-2 col-form-label col-form-label-sm">Cor:     </td><td class="form-control form-control-sm">&nbsp;{{ veiculo.cor }}</td></tr>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-info" data-bs-dismiss="modal">Fechar</button>
</div>