{% extends 'base.html' %}
{% block content %}

  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <h2>V E I C U L O S</h2>

  <button id="create-veiculo" class="btn btn-primary" type="button" name="button">
    <span class="fa fa-plus mr-2"></span>Novo Veiculo
  </button>
  <br/>

  <table id="veiculo-table" class="table table-striped">
    <thead>
      <tr>
        <th width="25%">Cliente</th>
        <th width="25%">Marca</th>
        <th width="25%">Modelo</th>
        <th width="10%">Placa</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
        <th width="5%">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for veiculo in object_list %}
      <tr>
        <td>{{ veiculo.cliente }}</td>
        <td>{{ veiculo.marca }}</td>
        <td>{{ veiculo.modelo }}</td>
        <td>{{ veiculo.placa }}</td>
        <td>
          <button type="button" id="read-veiculo" class="read-veiculo bs-modal btn btn-sm btn-primary" data-url="{% url 'veiculos:read_veiculo' veiculo.pk %}">
            <span class="fa fa-eye"></span>
          </button>
        </td>
        <td>
          <button type="button" id="update-veiculo" class="update-veiculo bs-modal btn btn-sm btn-primary" data-url="{% url 'veiculos:update_veiculo' veiculo.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
        </td>
        <td>
          <button type="button" id="delete-veiculo" class="delete-veiculo bs-modal btn btn-sm btn-danger" data-url="{% url 'veiculos:delete_veiculo' veiculo.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', (e) => {
    modalForm(document.getElementById('create-veiculo'), {
      formURL: "{% url 'veiculos:create_veiculo' %}"
    })
  });

  document.addEventListener('DOMContentLoaded', (e) => {
    var readButtons   = document.getElementsByClassName("read-veiculo");
    var updateButtons = document.getElementsByClassName("update-veiculo");
    var deleteButtons = document.getElementsByClassName("delete-veiculo");
    for (var index=0; index < readButtons.length; index++) {
      modalForm(readButtons[index], {
        formURL: readButtons[index]["dataset"]["url"],
        isDeleteForm: false
      });
      modalForm(updateButtons[index], {
        formURL: updateButtons[index]["dataset"]["url"],
        isDeleteForm: false
      });
      modalForm(deleteButtons[index], {
        formURL: deleteButtons[index]["dataset"]["url"],
        isDeleteForm: true
      });
    }
  });

</script>
{% endblock extrascripts %}
